/*@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  max-width: 600px;
  margin: 0 auto;
  padding: 5vw;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
*/
// scrollbar 
::-webkit-scrollbar {
  background: rgba(10, 255, 53, 0);
  overflow: visible;
  width: 5px;
  height: 5px;
  cursor: pointer;
}

::-webkit-scrollbar:hover {
  color: rgba(2, 30, 66, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.65);
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: rgba(0, 0, 0, 0);
}

// ::-webkit-scrollbar-thumb:horizontal {
// }

// ::-webkit-scrollbar-thumb:vertical {
// }

// ::-webkit-scrollbar-track {
// }

::-webkit-scrollbar-track-piece {
  background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-corner {
  background: transparent;
}
//fim scrollbar 

.alpha-primary2 {
  background-color: #e3f2fdb8;
}
/********** modal ***********/

.modal-fit-content{
  width: fit-content;
  max-width: 100%;
}

.fit-content-width{
  width: fit-content;
}

.gap-40{
  gap: 40px;
}
.gap-20{
  gap: 20px;
}