//https://sass-lang.com/documentation/breaking-changes/css-vars
//$accent-color: #fff;

//Medio Theme (blu)
[data-color-theme=blu],
html[data-color-theme=blu] [data-color-theme] {
    color-scheme: blu;
    // --gray-100: #F9FAFB;
    // --gray-200: #F3F4F6;
    // --gray-300: #E5E7EB;
    // --gray-400: #D1D5DB;
    // --gray-500: #9CA3AF;
    // --gray-600: #6B7280;
    // --gray-700: #4B5563;
    // --gray-800: #374151;
    // --gray-900: #1F2937;
    // --dark: #08090a;
    // --dark-rgb: 37, 43, 54;
    // --light: #F3F4F6;
    // --light-rgb: 243, 244, 246;
     --body-bg: #D4DBE6;
    // --body-bg-rgb: 241, 244, 249;
    // --body-color: #1F2937;
    // --body-color-rgb: 31, 41, 55;
    // --border-color: #D1D5DB;
    // --border-color-translucent: rgba(0, 0, 0, 0.125);
    // --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.125);
    // --link-color: #0c83ff;
    // --link-rgb-color: 109, 181, 255;
    // --link-hover-color: #0962bf;
    // --highlight-bg: rgba(0, 0, 0, 0.15);
    // --code-color: #f35c86;

}

// header
.page-header-light[data-color-theme=blu],
[data-color-theme=blu] .page-header-light:not([data-color-theme]),
html[data-color-theme=blu] .page-header-light {
    color-scheme: blu;
    --page-header-bg: #F1F4F9;
}

// card
.card[data-color-theme=blu],
[data-color-theme=blu] .card:not([data-color-theme]),
html[data-color-theme=blu] .card {
    color-scheme: blu;
    --card-bg: #F1F4F9;
}

// form
// .form-control[data-color-theme=blu],
// [data-color-theme=blu] .form-control:not([data-color-theme]),
// html[data-color-theme=blu] .form-control {
//     color-scheme: blu;
//     --input-bg: #{$accent-color};
//     --input-focus-bg: #{$accent-color};
// }

// .form-select[data-color-theme=blu],
// [data-color-theme=blu] .form-select:not([data-color-theme]),
// html[data-color-theme=blu] .form-select {
//     color-scheme: blu;
//     --form-select-bg: #{$accent-color};
//     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23374151' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
// }

// // dropdown
// .dropdown-menu[data-color-theme=blu],
// [data-color-theme=blu] .dropdown-menu:not([data-color-theme]),
// html[data-color-theme=blu] .dropdown-menu {
//     color-scheme: blu;
//     --dropdown-bg: var(--white);
//     --dropdown-border-color: var(--border-color-translucent);
// }

// // navbar
// .navbar-dark[data-color-theme=blu],
// [data-color-theme=blu] .navbar-dark:not([data-color-theme]),
// html[data-color-theme=blu] .navbar-dark {
//     color-scheme: blu;
//     --navbar-bg: #252b36;
// }

//side bar
// @media (min-width: 992px) {

//     .sidebar-expand-lg[data-color-theme=blu],
//     [data-color-theme=blu] .sidebar-expand-lg:not([data-color-theme]),
//     html[data-color-theme=blu] .sidebar-expand-lg {
//         color-scheme: blu;
//         --sidebar-box-shadow: none;
//     }

//     .sidebar-dark[data-color-theme=blu],
//     [data-color-theme=blu] .sidebar-dark:not([data-color-theme]),
//     html[data-color-theme=blu] .sidebar-dark {
//         color-scheme: blu;
//         --sidebar-bg: #252b36;
//     }
// }