.object-fit-contain {
    -o-object-fit: contain !important;
    object-fit: contain !important;
}

.object-fit-cover {
    -o-object-fit: cover !important;
    object-fit: cover !important;
}

.object-fit-fill {
    -o-object-fit: fill !important;
    object-fit: fill !important;
}

.object-fit-scale {
    -o-object-fit: scale-down !important;
    object-fit: scale-down !important;
}

.object-fit-none {
    -o-object-fit: none !important;
    object-fit: none !important;
}